.text-title text-center{
    font-family: 'Times New Roman', Times, serif;
    color: rgb(225, 225, 16);
    /* font-size: 55px;
    margin-top: 50px;
    margin-bottom: 80px; */
  }


/* .col{
    padding-left: 180px;
}  */
/* .html{
    padding: 100px; */ 

/* .skills-section {
    padding: 40px 0;
  }
  
  .text-title h1 {
    font-size: 4rem;
    margin-bottom: 30px;
    color: #e4ec13;
    font-family: 'Times New Roman', Times, serif;
  }
  
   
  
  
  .card-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #007bff;
  }
  
  .card-text {
    font-size: 1.1em;
    color: #555;
    line-height: 1.5;
  }
   */
   /* .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    /* size: 46px; */
    /* background-color: black;
    border: 60px;

}
.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  padding: 86px;
  background-color: black;
}
.card-img, .card-img-top, .card-img-bottom {
  width: 80%;
}
.card-img, .card-img-top {
  border-top-left-radius: var(--bs-card-inner-border-radius);
  border-top-right-radius: var(--bs-card-inner-border-radius);
  padding: 86px;
  background-color: black;
}
h5{
  font-size: 45px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.card-title{
  color: rgb(179, 179, 49);
}
.col{
border-radius: 20px;} */ 
.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  height: 180px;
  object-fit: cover;
}

.card-title {
  font-weight: bold;
}

.card-text {
    font-size: 18px;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    color: black;

}
.col{
 top: 70px;
}

